[defaults]
inventory = inventory/hosts.ini
vault_password_file = ~/.philotic-vault-pass
host_key_checking = False
retry_files_enabled = False
stdout_callback = default
result_format = yaml
roles_path = roles
remote_user = deploy
private_key_file = ~/.ssh/vps_deploy_key
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
become_user = root
